<template lang="html">
  <section>
    <button class="surf-cta">Surf ></button>
    <section class="surf-frame">
      <iframe src="" width="" height=""></iframe>
    </section>
  </section>
</template>

<script>
export default {
}
</script>

<style lang="css">


  .surf-frame {
    width: 100%;
    display: inline-block;
  }

  .surf-frame iframe {
    width: 100%;
    display: inline-block;
  }

</style>
