<template lang="html">
  <section>
    <surf-logo />
    <nuxt-link to="/surf/go"><button class="surf-cta">Surf!</button></nuxt-link>

    <h3>Top recent sites here</h3>
  </section>
</template>

<script>
import SurfLogo from "~/components/SurfLogo.vue";

export default {
  components: {
    "surf-logo": SurfLogo
  }
}

</script>

<style lang="css" scoped>
</style>
