<template lang="html">
  <section>
    <div>
      <h2>Add new track</h2>
      <input type="text" v-model="trackData.artistName" />
      <input type="text" v-model="trackData.artistTrack" />
      <input type="text" v-model="trackData.artistAlbum" />
      <button type="button" name="button" @click="addTrack">Add</button>
    </div>
    <div class="">
      <h2>Existing artists</h2>
      <p>None....</p>
    </div>
  </section>
</template>

<script>

import faker from "faker";

export default {
  data() {
    return {
      trackData: {
        artistName: faker.company.companyName(),
        artistTrack: faker.company.catchPhrase(),
        trackLength: faker.random.number(),
        artistAlbum: faker.commerce.productAdjective()
      }
    }
  },
  methods: {
    async addTrack(){
      try {
        console.log("going")
        let result = await this.$axios.post("http://localhost:1337/track", this.trackData);
        console.log(result);

      }
      catch (e){
        console.log(e);
      }
    }
  }
}
</script>

<style lang="css" scoped>
</style>
