<template lang="html">
  <section class="colour-cycle">

                ░░░░░░░░▄▄▄▀▀▀▄▄███▄
            <br>░░░░░▄▀▀░░░░░░░▐░▀██▌
            <br>░░░▄▀░░░░▄▄███░▌▀▀░▀█
            <br>░░▄█░░▄▀▀▒▒▒▒▒▄▐░░░░█▌
            <br>░▐█▀▄▀▄▄▄▄▀▀▀▀▌░░░░░▐█▄
            <br>░▌▄▄▀▀░░░░░░░░▌░░░░▄███████▄
            <br>░░░░░░░░░░░░░▐░░░░▐███████████▄
            <br>░░░░░le░░░░░░░▐░░░░▐█████████████▄
            <br>░░░░toucan░░░░░░▀▄░░░▐██████████████▄
            <br>░░░░░░has░░░░░░░░▀▄▄████████████████▄
            <br>░░░░░arrived░░░░░░░░░░░░█▀██████


            <blockquote>
            <pre>
              <small>
                  .                                                             .                                    .   oooo
                .o8                                                           .o8                                  .o8   `888
              .o888oo  .ooooo.  oooo  oooo   .ooooo.   .oooo.   ooo. .oo.   .o888oo    oooo  oooo  oo.ooooo.     .o888oo  888 .oo.    .ooooo.
                888   d88' `88b `888  `888  d88' `"Y8 `P  )88b  `888P"Y88b    888      `888  `888   888' `88b      888    888P"Y88b  d88' `88b
                888   888   888  888   888  888        .oP"888   888   888    888       888   888   888   888      888    888   888  888ooo888
                888 . 888   888  888   888  888   .o8 d8(  888   888   888    888 .     888   888   888   888      888 .  888   888  888    .o
                "888" `Y8bod8P'  `V88V"V8P' `Y8bod8P' `Y888""8o o888o o888o   "888"     `V88V"V8P'  888bod8P'      "888" o888o o888o `Y8bod8P'
                                                                                                    888
                                                                                                   o888o
                                    oooo
                                    `888
              oooo    ooo  .ooooo.   888  oooo  oooo  ooo. .oo.  .oo.    .ooooo.
               `88.  .8'  d88' `88b  888  `888  `888  `888P"Y88bP"Y88b  d88' `88b
                `88..8'   888   888  888   888   888   888   888   888  888ooo888
                 `888'    888   888  888   888   888   888   888   888  888    .o
                  `8'     `Y8bod8P' o888o  `V88V"V8P' o888o o888o o888o `Y8bod8P'
                </small>
              </pre>
            </blockquote>
            <!-- todo, have this cycle through colours -->
  </section>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
