<template lang="html">
  <section >
    <blockquote>
      <!--
      <small class="colour-cycle txt anim-text-flow">
        .oooooo..o                       .o88o.                                                 .o8                    .o8
       d8P'    `Y8                       888 `"                                                "888                   "888
       Y88bo.      oooo  oooo  oooo d8b o888oo   .oooo.o      oooo  oooo  oo.ooooo.        .oooo888  oooo  oooo   .oooo888   .ooooo.
        `"Y8888o.  `888  `888  `888""8P  888    d88(  "8      `888  `888   888' `88b      d88' `888  `888  `888  d88' `888  d88' `88b
            `"Y88b  888   888   888      888    `"Y88b.        888   888   888   888      888   888   888   888  888   888  888ooo888
       oo     .d8P  888   888   888      888    o.  )88b       888   888   888   888      888   888   888   888  888   888  888    .o
       8""88888P'   `V88V"V8P' d888b    o888o   8""888P'       `V88V"V8P'  888bod8P'      `Y8bod88P"  `V88V"V8P' `Y8bod88P" `Y8bod8P'
                                                                           888
                                                                          o888o

        </small>-->
    <pre class="colour-cycle txt anim-text-flow">

        <span>.</span><span>o</span><span>o</span><span>o</span><span>o</span><span>o</span><span>o</span><span>.</span><span>.</span><span>o</span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>.</span><span>o</span><span>8</span><span>8</span><span>o</span><span>.</span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>.</span><span>o</span><span>8</span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>.</span><span>o</span><span>8</span><span>
        </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>d</span><span>8</span><span>P</span><span>'</span><span> </span><span> </span><span> </span><span> </span><span>`</span><span>Y</span><span>8</span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span>`</span><span>"</span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>"</span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>"</span><span>8</span><span>8</span><span>8</span><span>
        </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>Y</span><span>8</span><span>8</span><span>b</span><span>o</span><span>.</span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>o</span><span>o</span><span>o</span><span>o</span><span> </span><span> </span><span>o</span><span>o</span><span>o</span><span>o</span><span> </span><span> </span><span>o</span><span>o</span><span>o</span><span>o</span><span> </span><span>d</span><span>8</span><span>b</span><span> </span><span>o</span><span>8</span><span>8</span><span>8</span><span>o</span><span>o</span><span> </span><span> </span><span> </span><span>.</span><span>o</span><span>o</span><span>o</span><span>o</span><span>.</span><span>o</span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>o</span><span>o</span><span>o</span><span>o</span><span> </span><span> </span><span>o</span><span>o</span><span>o</span><span>o</span><span> </span><span> </span><span>o</span><span>o</span><span>.</span><span>o</span><span>o</span><span>o</span><span>o</span><span>o</span><span>.</span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>.</span><span>o</span><span>o</span><span>o</span><span>o</span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span>o</span><span>o</span><span>o</span><span>o</span><span> </span><span> </span><span>o</span><span>o</span><span>o</span><span>o</span><span> </span><span> </span><span> </span><span>.</span><span>o</span><span>o</span><span>o</span><span>o</span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span>.</span><span>o</span><span>o</span><span>o</span><span>o</span><span>o</span><span>.</span><span>
        </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>`</span><span>"</span><span>Y</span><span>8</span><span>8</span><span>8</span><span>8</span><span>o</span><span>.</span><span> </span><span> </span><span>`</span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span>`</span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span>`</span><span>8</span><span>8</span><span>8</span><span>"</span><span>"</span><span>8</span><span>P</span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span> </span><span>d</span><span>8</span><span>8</span><span>(</span><span> </span><span> </span><span>"</span><span>8</span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>`</span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span>`</span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span>'</span><span> </span><span>`</span><span>8</span><span>8</span><span>b</span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>d</span><span>8</span><span>8</span><span>'</span><span> </span><span>`</span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span>`</span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span>`</span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span>d</span><span>8</span><span>8</span><span>'</span><span> </span><span>`</span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span>d</span><span>8</span><span>8</span><span>'</span><span> </span><span>`</span><span>8</span><span>8</span><span>b</span><span>
        </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>`</span><span>"</span><span>Y</span><span>8</span><span>8</span><span>b</span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span> </span><span>`</span><span>"</span><span>Y</span><span>8</span><span>8</span><span>b</span><span>.</span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span>o</span><span>o</span><span>o</span><span>8</span><span>8</span><span>8</span><span>
        </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>o</span><span>o</span><span> </span><span> </span><span> </span><span> </span><span> </span><span>.</span><span>d</span><span>8</span><span>P</span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span> </span><span>o</span><span>.</span><span> </span><span> </span><span>)</span><span>8</span><span>8</span><span>b</span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span> </span><span> </span><span> </span><span> </span><span>.</span><span>o</span><span>
        </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>8</span><span>"</span><span>"</span><span>8</span><span>8</span><span>8</span><span>8</span><span>8</span><span>P</span><span>'</span><span> </span><span> </span><span> </span><span>`</span><span>V</span><span>8</span><span>8</span><span>V</span><span>"</span><span>V</span><span>8</span><span>P</span><span>'</span><span> </span><span>d</span><span>8</span><span>8</span><span>8</span><span>b</span><span> </span><span> </span><span> </span><span> </span><span>o</span><span>8</span><span>8</span><span>8</span><span>o</span><span> </span><span> </span><span> </span><span>8</span><span>"</span><span>"</span><span>8</span><span>8</span><span>8</span><span>P</span><span>'</span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>`</span><span>V</span><span>8</span><span>8</span><span>V</span><span>"</span><span>V</span><span>8</span><span>P</span><span>'</span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span>b</span><span>o</span><span>d</span><span>8</span><span>P</span><span>'</span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>`</span><span>Y</span><span>8</span><span>b</span><span>o</span><span>d</span><span>8</span><span>8</span><span>P</span><span>"</span><span> </span><span> </span><span>`</span><span>V</span><span>8</span><span>8</span><span>V</span><span>"</span><span>V</span><span>8</span><span>P</span><span>'</span><span> </span><span>`</span><span>Y</span><span>8</span><span>b</span><span>o</span><span>d</span><span>8</span><span>8</span><span>P</span><span>"</span><span> </span><span>`</span><span>Y</span><span>8</span><span>b</span><span>o</span><span>d</span><span>8</span><span>P</span><span>'</span><span>
        </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>8</span><span>8</span><span>8</span><span>
        </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>o</span><span>8</span><span>8</span><span>8</span><span>o</span>
      </pre>
    </blockquote>
    <!-- todo, have this cycle through colours -->
  </section>
</template>

<script>
import $ from "jquery";
export default {
  mounted(){
    /*
    $('.txt').html(function(i, html) {
    var chars = $.trim(html).split("");

    return '<span>' + chars.join('</span><span>') + '</span>';
  });*/
  }
}
</script>

<style lang="scss">
/*
 * Animation module with all animation code
 */
.anim-text-flow,
.anim-text-flow-hover:hover {
  /*
   * Animation variables
   */
  $animationSteps: 20;
  $animationDuration: 50;
  $animationElement: span;
  $animationElementsCount: 100;
  $delayBetweenLetters: 0.2;

  /*
   * Elements settings
   */
  #{$animationElement} {
    animation-name: anim-text-flow-keys;
    animation-duration: #{$animationDuration}s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }

  /*
   * Keyframe loop
   */
  @keyframes anim-text-flow-keys {
    @for $i from 0 through $animationSteps {
      #{percentage($i * (1 / $animationSteps))} {
        color: hsla(random(365), 60, 60, 1);
      }
    }
  }

  /*
   * Element animation delay loop
   */
  $totalDelayTime: $animationElementsCount * $delayBetweenLetters;

  @for $i from 1 through $animationElementsCount {
    #{$animationElement}:nth-of-type(#{$i}) {
      animation-delay: #{($i * $delayBetweenLetters) - $totalDelayTime}s;
    }
  }
}

////////////////////////////
// DEMO CODE
///////////////////////////



.txt {
  display: block;
}


</style>
