<template lang="html">
  <span class="toolbar">
    <nav class="main-nav">
      <nuxt-link to="/">toucant</nuxt-link>
      <nuxt-link to="/explore">explore</nuxt-link>
      <nuxt-link to="/about">about</nuxt-link>
      <!--<nuxt-link to="/sync">sync</nuxt-link>
      <nuxt-link to="/surf">surf</nuxt-link>-->
      <user-avatar />
    </nav>
  </span>

</template>

<script>

import UserAvatar from "~/components/UserAvatar.vue";

export default {
  components: {
    "user-avatar": UserAvatar
  }
}
</script>

<style lang="css">

  .toolbar {
    width: 100%;
    height: 64px;
    display: inline-block;
  }

  .main-nav {
    display: inline-block;
    height: 100%;
    line-height: 32px;
    margin-left: 8px;
  }

  .main-nav a {
    font-size: 16px;
    vertical-align: center;
    height:64px;
    line-height: 64px;
    margin-right:16px;
  }

</style>
