<template lang="html">
  <article class="user-avatar">
    <nuxt-link to="/profile" v-if="!userMeta">profile</nuxt-link>
    <nuxt-link to="/profile/dashboard" v-if="userMeta">{{ userMeta.name }}</nuxt-link>
  </article>
</template>

<script>

import { mapActions, mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters([
      "userMeta"
    ])
  }
}
</script>

<style lang="css">

  .user-avatar {
    position: absolute;
    display: inline-block;
    right: 8px;
    line-height: 32px;
  }

</style>
