<template lang="html">
  <section class="cta-form">
    <input placeholder="Enter your last.fm username" @keyup.enter="submit" v-model="username" /><button @click="submit">{{ buttonMessage }}</button>
    <section v-if="retreivedUser">
      <h2>{{ retreivedUser.realName }}</h2>
      <img :src="retreivedUser.img" />
    </section>
  </section>
</template>

<script>
export default {
  data(){
    return {
      buttonMessage: "Go!",
      username: null,
      retreivedUser: {
        img: null,
        realName: null,
        url: null
      }
    }
  },
  methods: {
    submit(){
      this.buttonMessage = "Go!";
      this.username ? this.retreiveProfile() : this.buttonMessage = "Fill out the form";
    },
    async retreiveProfile(){
      this.buttonMessage = "Working...";
      try {
        const res = await this.$axios.get(`http://ws.audioscrobbler.com/2.0/?method=user.getinfo&user=${this.username}&api_key=3329fbd5c9a9642aac2144cff8dc183a&format=json`);
        this.buttonMessage = "Retreived.";
        console.log(res);
        this.retreivedUser.img = res.data.user.image[3]["#text"];
        this.retreivedUser.realName = res.data.user.realname;
        this.retreivedUser.url = res.data.user.url;
        console.log(this.retreivedUser);
      }
      catch (e){
        console.log(e);
        this.buttonMessage = "Error";
      }

    }
  }
}
</script>

<style lang="css">

  .cta-form input, .cta-form button {
    padding: 32px;
    outline: none;
    border: none;
    color: rgb(21, 153, 120);
    font-family: Courier New, Courier, monospace;
    font-size: 22px;
  }

  .cta-form input {
    width: 40%;
    background: rgba(21, 153, 120, 0.1);
  }

  .cta-form button {
    background: rgba(21, 153, 120, 0.3);
  }


  .cta-form {
  }

</style>
