<template lang="html">
  <section class="container">
    <section v-if="userMeta">
      <h1>Dashboard</h1>
      <section class="notification-banner">
        <i class="far fa-user-circle"></i> Logged in as <b>{{ userMeta.name }}</b> - <a href="#" @click="logout">Logout</a>
      </section>
      <p>{{ dashboardMessage }}</p>
      <p>You've listened to nothing!</p>
      <nuxt-link to="/manage">Manage your music</nuxt-link>
      </section>
    </section>
  </section>
</template>

<script>

  import { mapActions, mapGetters } from "vuex";


  export default {
    data(){
      return {
        //dashboardMessage: "Welcome to your account. Why don't you list something for sale?"
        dashboardMessage: "Welcome to your account.",
        buttonMessage: "Apply",
        vendorName: "",
        vendorPostcode: "",
        vendorDescription: "",
        uploadImageLabel: "Click to add your logo",
        images: null,
        uploadedLogoURL: null
      }
    },
    computed: {
      ...mapGetters([
        "userMeta",
        "serverEndpoint"
      ])
    },
    methods: {
      ...mapActions([
        "createVendor",
        "logout",
        "updateUserProfile",
        "setNotification",
        "setUserMeta"
      ]),
      onFileChanged(event) {
          this.images = event.target.files[0];
          this.uploadImageLabel = "Image Added!";
      },
      applyForVendor(){
        if (this.images){
          let formData = new FormData();
          formData.append('photos', this.images, this.images.name);
          this.$axios.post(`${this.serverEndpoint}/uploadImage`, formData).then((response) => {
            this.uploadedLogoURL = response.data.image;
            this.files = null;
            this.saveVendor();
          }).catch(e => {
            console.log(e);
          })
        }
        else {
          this.saveVendor();
        }
      },
      async saveVendor(){
        this.setNotification("Working...");
        let vendorData = await this.createVendor({
          vendorName: this.vendorName,
          vendorLogo: this.uploadedLogoURL,
          vendorDescription: this.vendorDescription,
          vendorPostcode: this.vendorPostcode
        });
        this.updateUserProfile({
          id: this.userMeta._id,
          vendorId: vendorData.data.vendorId,
          vendorName: this.vendorName,
        }).then(() => {
          this.dashboardMessage = "Congratulations, you were accepted. You now have additional functionality.";
          let aData = {
            fromName: "The Bad Luck Collective",
            fromEmail: "<applications@badluckcollective.com>",
            toEmail: this.userMeta.email,
            toName: this.userMeta.name,
            subject: "You've been accepted as an exclusive vendor @ the BLC",
            html: `<h1>Congrats, ${(this.userMeta.name).split(" ")[0]}</h1><p>You've been accepted as a vendor on the Bad Luck Collective</p><p>Please visit <a href="localhost:3000/messages">your messages</a> If you've got any questions.</p><p>Your account now has all the tools to begin selling, so add in your Stripe account details and begin selling!</p><h4>All the best, Ben @ the BLC</h4>`
          };
          this.$axios.post("https://vohzd.com/email/sender.php", aData);
          this.setNotification("Vendor sign up successfull");
        })
      }
    },
    middleware: "loggedOut"
  }

</script>

<style lang="css">


</style>
