<template lang="html">
  <main class="container">
    <h1>{{ siteHeader }}</h1>
    <h3>{{ welcomeMessage }}</h3>
    <input type="text" v-model="email" @keyup.enter="handleForm" placeholder="Email Address"  class="mt"/>
    <input type="password" v-model="password" placeholder="Password" @keyup.enter="handleForm" v-if="needsPassword" class="mt" />
    <input type="text" v-model="name" placeholder="Name" @keyup.enter="handleForm" v-if="needsName" class="mt" />
    <button type="button" @click="handleForm" class="mt" :disabled="!buttonIsDisabled ? false : true " :class="{ 'disabled-button': !buttonIsDisabled ? false : true  }">
      {{ buttonMessage }}
    </button>
    <nuxt-link to="/profile/forgot" class="tiny">Forgot Password?</nuxt-link>
    <span v-if="notificationMessage" class="login-notification">{{ notificationMessage }}</span>
  </main>
</template>

<script>

import { mapGetters, mapActions } from "vuex";

export default {
  computed: {
    ...mapGetters([
      "isLoading",
      "loginNotification",
      "userMeta"
    ])
  },
  data(){
    return {
      siteHeader: "Sign in, or register",
      buttonMessage: "Check",
      buttonIsDisabled: true,
      email: "",
      password: "",
      name: "",
      needsName: false,
      needsPassword: false,
      notificationMessage: null,
      isRegistering: false,
      isLoggingIn: false,
      welcomeMessage: "Enter your email to check."
    }
  },
  methods: {
    ...mapActions([
      "checkUserExists",
      "register",
      "setNotification",
      "setUserMeta",
      "login",
      "logout"
    ]),
    async handleForm(){
      if (this.email.length === 0){
        this.setNotification("Please add an email");
      }
      else {
        if (!this.isRegistering){
          if (this.isLoggingIn){
            this.buttonMessage = "Working...";
            this.notificationMessage = null;
            try {
              await this.login({
                email: this.email.toLowerCase(),
                password: this.password
              });
            }
            catch (e){
              if (e.response.status === 401){
                this.notificationMessage = "Wrong Credentials!!";
                this.buttonMessage = "Check";
              }
            }
          }
          else {
            let serverResponse = await this.checkUserExists(this.email.toLowerCase());
            console.log(serverResponse)
            serverResponse === "WRONG_EMAIL_FORMAT" ? this.notificationMessage = "That's not an email!" : serverResponse.data.userExists  ? this.needsLogin() : this.needsRegister()
          }
        }
        else {
          if (this.password.length === 0 || this.name.length === 0){
            this.setNotification("Please fill out password and name");
          }
          else {
            this.setNotification("Working...");
            this.register({
              name: this.name,
              email: this.email,
              password: this.password
            });
          }
        }
      }
    },
    isEmailValid(){
      let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      re.test(String(this.email).toLowerCase()) === true ? this.buttonIsDisabled = false : this.buttonIsDisabled = true;
    },
    needsRegister(){
      this.buttonMessage = "Register";
      this.isRegistering = true;
      this.needsName = true;
      this.needsPassword = true;
      this.buttonIsDisabled = true;
      this.siteHeader = "Register a new account";
      this.welcomeMessage = "Please enter your credentials below to sign up for a new account.";
      this.setNotification("This user doesn't exist. You are free to sign up with this email");
    },
    needsLogin(){
      this.isLoggingIn = true;
      this.needsPassword = true;
      this.buttonIsDisabled = true;
      this.buttonMessage = "Login";
      this.siteHeader = "Welcome Back";
      this.welcomeMessage = "As you have an account, please enter your password to continue.";
      this.setNotification("Welcome back, please log in.");
    },
    redirectToDashboard(){
      if (this.userMeta){
        this.$router.push("/profile/dashboard");
      }
    }
  },
  middleware: "loggedIn",
  watch: {
    isLoading(){
      this.isLoading ? this.buttonMessage = "Working..." : this.buttonMessage = "Check";
    },
    email(){
      this.isEmailValid();
    },
    password(){
      this.password.length ? this.buttonIsDisabled = false : this.buttonIsDisabled = true;
    },
    loginNotification(){
      this.notificationMessage = this.loginNotification;
    },
    userMeta(){
      this.redirectToDashboard();
    }
  }
}
</script>

<style lang="css">

  .disabled-button {
    opacity: 0.3;
  }

  .disabled-button:hover {
    cursor: not-allowed;
    opacity: 0.3;
  }

  .login-notification {
    width: 100%;
    padding: 8px;
    background: rgba(251, 212, 181, 0.4);
  }

</style>
