<template>
  <section>
    <top-toolbar />
    <nuxt class="main-view"/>
  </section>
</template>


<script>

import TopToolbar from "~/components/TopToolbar.vue";

import { mapActions, mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters([
      "userMeta"
    ])
  },
  components: {
    "top-toolbar": TopToolbar
  },
  data(){
    return {
      initialised: false
    }
  },
  methods: {
    ...mapActions([
      "checkAuthState",
    ]),
    async init(){
      if (!this.initialised){
        this.initialised = true;
        await this.checkAuthState();
      }
    }
  },
  mounted(){
    this.init();
  }
}
</script>

<style lang="css">

  body {
    background: black;
    color: rgb(21, 153, 120);
    font-family: Courier New, Courier, monospace;
    margin: 0;
    body: 0;
  }
  pre {
    font-family: Courier New, Courier, monospace;
    line-height: 110%;
    margin: 0px;
    overflow: visible;
  }

  a {
    letter-spacing: 3px;
    text-decoration: none;
    color: #BE7A0B;
    text-align: center;
  }

  button {
    padding: 24px;
    outline: none;
    border: 0px;
    background: rgba(21, 153, 120, 0.05);
    color: white;
    font-family: Courier New, Courier, monospace;
    transition: 0.4s all;
  }

  input {
    padding: 24px;
    width: 100%;
    outline: none;
    border: 0px;
    background: rgba(21, 153, 120, 0.1);
    color: white;
    font-family: Courier New, Courier, monospace;
    transition: 0.4s all;
  }

  button:hover {
    cursor: pointer;
    background: rgba(21, 153, 120, 0.25);
  }

  .main-view {
    margin: 8px;
  }

  .surf-cta {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 32px;
  }

  .center {
    text-align: center;
  }

  .container {
    margin: auto;
    width:45%;
  }

  .nuxt-link-exact-active {
    opacity: 0.33;
  }


</style>
