<template lang="html">
  <section class="container">
    <h1>ABOUT</h1>
    <p>So i've been obsessed with AI since forever.</p>
    <h4>why are you doing this with soundcloud, lastfm out there</h4>
    <p>a: because they wont be around for long. plus i know what im doing</p>
    <p>lastfm has been getting worse and worse... i managed several artists and without warning the music manager got removed</p>
    <p>There's gotta be a better way to share music right?</p>
    <p>open source. your data. our collaboration</p>
    <p>toucant. social network + AI DJ</p>
    <footer>created by <a href="https://vohzd.com">vohzd.com</a></footer>
  </section>
</template>

<script>

</script>

<style lang="css" scoped>
</style>
