<template lang="html">
  <section class="container">
    <h1>EXPLORE MUSIC</h1>
    <ul>
      <li>Metal</li>
      <li>Vapourwave</li>
      <li>Pop</li>
      <li>70's</li>
      <li>80's</li>
    </ul>
  </section>
</template>

<script>

</script>

<style lang="css" scoped>
</style>
