<template lang="html">
  <section class="center">
    <home-logo />
    <h1>open source social network + AI DJ</h1>
    <button>CREATE YOUR PROFILE</button>
    <button>PLAY</button>
  </section>
</template>

<script>
import HomeLogo from "~/components/HomeLogo.vue";

export default {
  components: {
    "home-logo": HomeLogo
  }
}
</script>

<style lang="css">

</style>
