<template lang="html">
  <section class="container">
    <h1>SYNC</h1>
    <section v-if="!userMeta">
      <nuxt-link to="/profile">Sign in or register</nuxt-link>
    </section>
    <section>
      <username-capture />
    </section>
  </section>
</template>

<script>



import UsernameCapture from "~/components/UsernameCapture.vue";
import { mapActions, mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters([
      "userMeta"
    ])
  },
  components: {
    "username-capture": UsernameCapture
  }
}
</script>

<style lang="css">
</style>
